<section>
  <div class="form-group">
    <div class="row">
        <div class="col-xs-12">
            <input type="text" class="form-control" placeholder="Enter server name" autocomplete="off">
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <input type="text" class="form-control" placeholder="Enter server content" autocomplete="off">
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
          <button type="button" class="btn btn-primary" (click)="onAddNewServer()">Add New Server</button>
          <button type="button" class="btn btn-primary" (click)="onAddNewBlueprint()">Add New Blueprint</button>
        </div>
    </div>
    <!-- <button type="button" (onAddServer)="">Add New Server</button>
    <button type="button" (onAddServer)="">Add New Blueprint/button> -->
  </div>
</section>
